
.container_header{
    border-bottom: 1px solid #00a65a;
    margin-bottom: 10px;
}

.titulo{
    font-size: 3em;
    display: flex;
    font-weight: bold;
    color: #00a65a;
    align-items: center;
    justify-content: space-around;
}

.btn_anadir{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lista_cultivos{
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;

}

.nombre_descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre{
    font-size: 1.5em;
    font-weight: bold;
    color: #00a65a;
}
.btn_acciones{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.cont_asignado{
    display: flex;
    align-items: center;
    padding: 0px 0px 10px 0px;
}

.btn_asignar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.b_asignar{
    background-color: #00a65a;

}

.header_titulos{
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1.1em;
    color: #00a65a;
    font-weight: bold;
}

.header_detalles{
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1.1em;

}

.detalles{
    display: flex;
    align-items: center;
}

.logo_user{
    display: flex;
    justify-content: center;
}

.btns_acciones{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}


/* BOTON DE SELECCIONAR ARCIVOS */
.custom-input-file {
    /* background-color: #941B80; */
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    /* padding: 10px; */
    position: relative;
    text-align: center;
    
    /* width: 400px; */
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
  }