
:root{

    --color-usuario:rgb(107,223,142);
    --color-verde:green;
    --color-negro:#333747;
    --color-blanco:#F9F9F9;
    --color-blanco-fondo:#F9F9F9;
    --color-fondo:#F6F7FF;
    --color-gris:#707070;
    --radio-boton: 13px;
    --radio-contenedor-grande: 30px;
    --radio-contenedor: 30px;
    --radio-input: 10px;
    --boder-inputs:1px solid rgba(112, 112, 112, 0.4);
    --radio-input: 10px;
}

.buscar {
    display: grid;
    flex-direction: row-reverse;
    justify-items: end;
    
}

#lupa {
    padding: 10px 13px 0px 15px;
    border: var(--boder-inputs);
    height: 33px;
    border-radius: 8px 0px 0px 8px;
    border-right: none;
    color: var(--color-gris);
}

.search {
    height: auto;
    color: var(--color-gris);
    background: var(--color-fondo);
    border: var(--boder-inputs);
    border-left: none;
    padding-left: 10px;
    width: auto;
    border-radius: var(--radio-input) 0px 0px var(--radio-input);
    justify-items: end;
}

#search:focus~i {
    border-color: var(--color-gris);
}

#search:focus {
    border-color: var(--color-gris);
    outline: none;
}

.select{
    background-color: var(--color-verde);
    border-radius: var(--boder-inputs);
    
}
.select:focus{
    border-color: var(--color-verde);
    outline: none;
}